.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 8%
    width: 20%;
  &-2
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 45%
    width: 20%;
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 15%
    width: 20%;

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important



.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $color-sistema-texto !important  


.banner-interno__fondo
    background-image: url(../assets/curso/portada/fondo-banner-vista.svg) !important


figcaption 
    font-weight: normal !important




.lista-ul--color li > i:first-of-type
    color: #007CBE;
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
    border: 0 !important
    background-color: $color-acento-botones !important
.pasos-b__header__item--before .pasos-b__header__item__dot
    border-color: $color-primario !important
    background-color: $color-primario !important;
.pasos-b__header__item__dot i 
  color: $color-sistema-texto !important

.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after,
.pasos-b__header__item--active .pasos-b__header__item__line-container:before
    background-color: $color-primario !important
.pasos-b__header__item:first-child .pasos-b__header__item__line-container:before
    background-color: transparent !important
.pasos-b__header__item__dot 
    border: 3px solid #144567
.col.py-3.text-end
  text-align: start !important
.tarjeta--boton.color-acento-contenido
    background-color: #EDFDEF;
    text-align: center !important
.tarjeta--boton.color-acento-contenido:active, 
.tarjeta--boton.color-acento-contenido:focus,
.tarjeta--boton.color-acento-contenido:hover
    background-color: #B9F0E8 !important;
.tabs-a__tab 
    background-color: #F2F6E6
.tabs-a__tab__text 
    white-space: normal;
.tabs-c__tab
    border-bottom: 4px solid #0F5F6B
    background-color: $color-primario
.tabs-c.color-acento-contenido .tabs-c__tab--active
  font-weight: bold
  background-color: #fff !important
.tabs-c__content-item
  position: relative;
  top: -15px;
  z-index: 0;
.tabs-c__tab--active:before
    z-index: 99;
.tabs-c
  border-bottom: none
.lista-ol--cuadro__vineta 
    background-color: #2D3D45
    font-weight: bold
.cursor-pointer.crd_hover_txt
  cursor: pointer
.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  border-radius: 20px;
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #99CAE5
      background-repeat: no-repeat
      background-size: cover
      h4 
        color: $color-sistema-texto
  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #87A771
    h4
      color: #FFF
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em
.acordion
  
  &__activo
    background-color: #B9F0E8 !important
  &__accion__btn--a
    background-color: #A6F6AF 
    box-shadow: none !important

.acordion__activo .acordion__accion__btn--a
    background-color: #69D2CD 
    

.tarjeta.color-primario
    background-color: #004B72
.slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-botones
    border: 0
    box-shadow: none
.slyder-a__bullets__item
    background-color: #DBE0E3
    border: 0
.slyder-a__bullets__item--active
    background-color: #B6C1C6
.bloque-texto-g.color-adicional-1
  background-color: $color-adicional-1
.bloque-texto-g__texto
    width: 70%;
.cajon.color-acento-contenido:before
  background-color: #0F5F6B
.tabla-a thead 
    background-color: #1C526E;
    color: #fff;

.tarjeta-audio.color-acento-contenido .tarjeta-audio__texto
    color: $color-sistema-texto !important
.cajon.color-primario
  background-color: #FFFFEB
.cajon.color-primario:before
  background-color: #694D02
.linea-tiempo-e:before
  background-color: #B9F0E8
.linea-tiempo-e.color-acento-botones .linea-tiempo-e__item__header:before
  border-color: #69D2CD
.tarjeta.bg-color-7.acordion__activo
  background-color: #FFFFEB !important


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/temas/bg/2.svg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.bg-color
  &-1
    background-color: #69D2CD
  &-2
    background-color: #EDFDEF !important
  &-3
    background-color: #1C526E !important
  &-4
    background-color: $white !important
  &-5
    background-color: #F8F8C5 !important
  &-6
    background-color: #FFFFEB !important
  &-7
    background-color: #69D2CD 
.br
  &-1
    border-radius: 10px !important
  &-2
    border-radius: 0 200px 200px 0 !important
  &-3
    border-radius: 0 150px 150px 0 !important

.ml-cus
  &-1
    margin-left: 30px !important
  &-2
    padding-right: 80px !important
  &-3
    padding: 1.5rem !important;
  &-4
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  &-5
    margin-left: 20px !important    
  &-6
    margin-left: 30px !important
.hcard
  &-1
    height: 320px !important
.w-cus
  &-1
    width: fit-content !important
  &-2
    width: 20% !important
.icon-list
  font-size: 10pxrem
.text-cus
  &-1
    color: $color-sistema-texto !important
  &-2
    color: #09A82E !important
  &-3
    color: #2569DF !important
  &-4
    color: #E119E8 !important
  &-5
    color: #D98356 !important
  &-6
    color: #1597AB !important
.titulo-icono
  width: fit-content
  position: relative;
  left: 12px;
  background-color: $color-adicional-2
  border-radius: 30px
 
  &-text
    margin-right: 10px
    margin-left: 45px;
    @media screen and (max-width: 767px)
      margin-left: 0px;
      
  &-img
    padding: 0px
    position: absolute
    top: -5px

    @media screen and (max-width: 767px)
        display: none

    img
      position: relative
      max-width: 50px
 

.titulo-icono-2
  background-color: #F7F7D7
  border-top-right-radius: 30px
  border-bottom-right-radius: 30px
  width: fit-content
  &-text
    margin-right: 10px
    margin-left: 10px;
 
.titulo-icono-3
  width: fit-content
  position: relative;
 
  &-text
    margin-right: 10px
    &:after
      content: '';
      display: block;
      height: 3px;
      width: 140px;
      border-left: solid 250px;
      border-color: $color-primario;
      margin-top: 17px

    @media screen and (max-width: 767px)
      margin-left: 0px;
      &:after
          content: '';
          display: block;
          height: 3px;
          width: 140px;
          border-left: solid 250px;
          border-color: $color-primario;
          margin-top: 17px
  


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info 
    margin: 3rem 0 !important;
  .hcard-1 
    height: 470px !important;
  .crd_hover_txt .crd_hover_txt--body h4
    position: relative;
    top: -12px;

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important   
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info 
    width: 95% !important;
  .hcard
    &-1
      height: 320px !important
  
  .br
    &-2
      border-radius: 0  !important
    &-3
      border-radius: 0  !important
  .p-cus-1
    padding: 0 3rem !important
  .bloque-texto-g 
    padding-top: 8% !important
  .bloque-texto-g__texto
        width: 100% !important
    
  .ml-cus
    &-2
      padding-right: 20px !important
      
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
 
  .banner-principal__info
    padding-top: 5rem !important;
    padding-bottom: 5rem !important; 
  
  .titulo-icono-2
    left: 0px;
    &-text
      margin-left: 10px;
    img
      display: none
  
  .titulo-icono
    width: fit-content
    position: initial !important
    background-color: $color-adicional-2
    border-radius: 0 30px 30px 0  !important
 
    &-text
      margin-right: 10px
      margin-left: 45px;
      @media screen and (max-width: 767px)
        margin-left: 10px;
        
   
  .ml-cus
    &-3
      padding: 0.5rem !important;
    &-4
      padding-right: 0.8rem !important;
      padding-left: 0.8rem !important;
  
  .tarjeta--container > .tarjeta:last-child,
  .tarjeta--container > .tarjeta:first-child
    border-radius: 20px !important
  .hcard
    &-1
      height: auto !important